<%= form_for [@movie,@review] do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form row" style="height: 300px;padding: 2rem;">
    <div class="form-content">

      <div class="field">
        <div class="col-sm-6">
          <%= form.label :rating,class:"col-sm-3 col-form-label" %>
          <%= form.text_field :rating,class:"form-control" %>
        </div>
      </div>
      <div class="field">
        <div class="col-sm-6">
          <%= form.label :comment,class:"col-sm-3 col-form-label" %>
          <%= form.text_area :comment,class:"form-control" %>
        </div>
      </div>
      <div class="actions">
        <%= form.submit "Create Review",class:"btn btn-primary form-button" %>
      </div>
    </div>
  </div>
<% end %>
