<p id="notice"><%= notice %></p>


<%= render 'navbar'%>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
            <div class="card-body">
              <h1>ToDo App</h1>
              <% if user_signed_in? %>
              <%= link_to 'New Todo', new_todo_path,class:"btn btn-success"%>
              <% @todos.each do |todo| %>
                <% if current_user.id == todo.user_id %>
                  <div class="todo">
                    <%= link_to todo do %>
                      <h4 class="card-title"><%= todo.title %></h4>
                    <% end %>
                    <%= link_to edit_todo_path(todo),class:"btn btn-warning" do%>
                      <i class="bi bi-pencil-square"></i>
                    <% end %>
                    <%= link_to todo, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" do %>
                     <i class="bi bi-trash-fill"></i>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <%end%>
            </div>
      </div>
    </div>
  </div>
</div>



